
.normal {
  text-align: center;
  display: flex;
  flex:1;
  flex-direction: row;
}

.photo {
  flex: 1;
  align-self: stretch;
  height: auto;
  width: auto;
}

.shouldhide {
  position: absolute;
  width: 100px;
  height: 100px;
  left: -200px;
  top: -200px;
  z-index: -100;
}

.submain {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex: 1;
  background-repeat:no-repeat;
  background-size:cover;
}

.input {
  background: rgba(120, 120, 120, 0.8);
  border: none;
  border-bottom: 1px dashed #83A4C5;
  border-radius: 5pt;
  outline: none;
  padding: 5pt;
  font-style: italic;
  font-size: 18px;
  align-self: flex-end;
}

.main {
  display: flex;
  flex:1;
  flex-direction: column;
  align-content: center;
  justify-content: center;  
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 1cm;
}

